@(message: String)

@main("Admin") {
    <section layout="row" flex class="height100p" ng-cloak data-ng-controller="adminController">
        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
            <md-toolbar class="md-theme-indigo" style="background: #B4D5B8;">
                <h1 class="md-toolbar-tools">Admin</h1>
            </md-toolbar>
            <md-content layout-padding >
                <md-button ng-click="close()" class="md-primary" hide-gt-md>
                    Close Sidenav Left
                </md-button>
                <h4 data-ng-click="show = ''; formTemplate = false">Réservations<i class="float-right fa fa-eye"></i> </h4>
                <h4 data-ng-click="show = 'descentes'">Descentes <i class="float-right fa fa-eye"></i> </h4>
                <div data-ng-show="show == 'descentes'">
                    <div class="column md-whiteframe-z1" data-ng-repeat="descente in descentes">
                        <h5>{{name = (descente.name | filter: {'lang': $root.lang})[0].presentation}}</h5>
                            <md-button class="md-fab md-mini float-right md-primary"
                            ng-click="setDescente(descente)"><i class="fa fa-pencil"></i></md-button>
                            <md-button class="md-fab md-mini float-right md-primary"
                            ng-click="controller.deleteDescente(descente.id)"><i class="fa fa-trash"></i></md-button>
                    </div>
                    <md-button ng-click="setNewDescente()">Ajouter une descente</md-button>
                </div>
                <h4 data-ng-click="show = 'prices'; controller.setPrices()">Tarifs généraux <i class="float-right fa fa-eye"></i> </h4>
                <h4 data-ng-click="show = 'articles'">Articles (home)<i class="float-right fa fa-eye"></i> </h4>
                <div data-ng-show="show == 'articles'">
                    <div class="column md-whiteframe-z1" data-ng-repeat="article in articles">
                        <h5>{{article.id}}</h5>
                            <md-button class="md-fab md-mini float-right md-primary"
                            ng-click="controller.setArticle(article)"><i class="fa fa-pencil"></i></md-button>
                            <md-button class="md-fab md-mini float-right md-primary"
                            ng-click="controller.deleteArticle(article.id)"><i class="fa fa-trash"></i></md-button>
                    </div>
                    <md-button ng-click="controller.setNewArticle()">Ajouter un article</md-button>
                </div>
                <h4 data-ng-click="show = 'services'">Services <i class="float-right fa fa-eye"></i> </h4>
                <div data-ng-show="show == 'services'">
                    <div class="column md-whiteframe-z1" data-ng-repeat="service in services">
                        <h5>{{service.id}}</h5>
                            <md-button class="md-fab md-mini float-right md-primary"
                            ng-click="controller.setService(service)"><i class="fa fa-pencil"></i></md-button>
                            <md-button class="md-fab md-mini float-right md-primary"
                            ng-click="controller.deleteService(service.id)"><i class="fa fa-trash"></i></md-button>
                    </div>
                    <md-button ng-click="controller.setNewService()">Ajouter un service</md-button>
                </div>
                <h4 data-ng-click="show = 'occasions'">Occasions <i class="float-right fa fa-eye"></i> </h4>
                <div data-ng-show="show == 'occasions'">
                    <div class="column md-whiteframe-z1" data-ng-repeat="occasion in occasions">
                        <h5>{{occasion.id}}</h5>
                            <md-button class="md-fab md-mini float-right md-primary"
                            ng-click="controller.setOccasion(occasion)"><i class="fa fa-pencil"></i></md-button>
                            <md-button class="md-fab md-mini float-right md-primary"
                            ng-click="controller.deleteOccasion(occasion.id)"><i class="fa fa-trash"></i></md-button>
                    </div>
                    <md-button ng-click="controller.setNewOccasion()">Ajouter un occasion</md-button>
                </div>
                <h4 data-ng-click="show = 'partners'">Partners <i class="float-right fa fa-eye"></i> </h4>
                <div data-ng-show="show == 'partners'">
                    <div class="column md-whiteframe-z1" data-ng-repeat="partner in partners">
                        <h5>{{partner.id}}</h5>
                            <md-button class="md-fab md-mini float-right md-primary"
                            ng-click="controller.setPartner(partner)"><i class="fa fa-pencil"></i></md-button>
                            <md-button class="md-fab md-mini float-right md-primary"
                            ng-click="controller.deletePartner(partner.id)"><i class="fa fa-trash"></i></md-button>
                    </div>
                    <md-button ng-click="controller.setNewPartner()">Ajouter un partner</md-button>
                </div>
                <h4 data-ng-click="show = 'informations'">Informations <i class="float-right fa fa-eye"></i> </h4>
                <div data-ng-show="show == 'informations'">
                    <div class="column md-whiteframe-z1" data-ng-repeat="information in informations">
                        <h5>{{information.id}}</h5>
                            <md-button class="md-fab md-mini float-right md-primary"
                            ng-click="controller.setInformation(information)"><i class="fa fa-pencil"></i></md-button>
                            <md-button class="md-fab md-mini float-right md-primary"
                            ng-click="controller.deleteInformation(information.id)"><i class="fa fa-trash"></i></md-button>
                    </div>
                    <md-button ng-click="controller.setNewInformation()">Ajouter un information</md-button>
                </div>
                <h4 data-ng-click="show = 'images'; controller.setImages()">Images du slider<i class="float-right fa fa-eye"></i> </h4>
            </md-content>
        </md-sidenav>
        <md-content style="overflow: hidden; height: inherit" flex>
            <md-toolbar  style="background: #B4D5B8;">
            <div class="md-toolbar-tools" >
            <md-button aria-label="menu" class="md-fab md-primary md-mini" ng-click="directive.toggleLeft()" hide-gt-md>
                <md-icon md-svg-src="assets/images/menu.svg"></md-icon>
            </md-button>
            <object data="assets/images/title.svg"
            class="column medium-3 large-2 small-8 animated fadeIn"></object>
                <md-button ng-click="validate()" class="md-fab md-mini md-primary" ng-show="controller.needToSave"><i class="fa fa-save"></i></md-button>
                <span class="tooltip-trigger float-left relative">
                    <md-button ng-click="controller.cancelChanges()" class="md-fab md-mini md-warn" ng-show="controller.needToSave">
                        <i class="fa fa-refresh"></i>
                    </md-button>
                    <i class="tooltip-custom animated ">
                        Annuler les modifications
                    </i>
                </span>
                <div ng-init="$root.lang = 'Fr'">
                    <div style="white-space: nowrap">
                        <md-button class="md-fab md-primary top0"
                        style="font-size: 25px;line-height: 25px;"
                        ng-class="{'md-hue-1':$root.lang == 'En'}"
                        data-ng-click="$root.lang = 'En'; controller.setVersionedDescenteTexts()">
                            <i class="flag-icon flag-icon-gb"></i>
                        </md-button>

                        <md-button class="md-fab md-primary top0"
                        style="font-size: 25px;line-height: 25px;"
                        ng-class="{'md-hue-1': $root.lang == 'Fr'}"
                        data-ng-click="$root.lang = 'Fr'; controller.setVersionedDescenteTexts()">
                            <i class="flag-icon flag-icon-fr"></i>
                        </md-button>
                    </div>
                </div>
                </div>
            </md-toolbar>
            <md-content layout="column" layout-fill layout-align="top center">
                <div ng-include="formTemplate" class="column"></div>
                <div data-ng-show="!formTemplate" ng-init="limit = 10" class="column">
                    <div class="column">
                        <md-datepicker class="column large-6" ng-model="dateFilter" md-placeholder="Filtrer les réservations par date"></md-datepicker>
                    </div>
                    <span data-ng-repeat="booking in bookings | orderBy: 'bookingFormClient$1.date$1' | limitTo: limit"
                    data-ng-show="!dateFilter || (dateFilter | date : 'dd-MM-yyyy') == (booking.bookingFormClient$1.date$1 | date : 'dd-MM-yyyy')"
                    class="md-whiteframe-z1 column large-6 padding50 float-left">
                        Formulaire de reservation n°{{booking.id$1}} - {{controller.computePrice(booking.descentId$1, booking.details$1)}} €
                        <i class="fa fa-eye" data-ng-click="showDetails = !showDetails"></i>
                        <span data-ng-show="showDetails"><h4>Description</h4>
                            <p>Date: {{booking.bookingFormClient$1.date$1 | date : 'dd-MM-yyyy'}}</p>
                            <p>Heure: {{booking.bookingFormClient$1.startTime$1 | date : 'hh:mm a'}}</p>
                            <p>Descente: {{descenteName = (descentes | filter: {'id' :  booking.descentId$1})[0].name[0].presentation}}</p>
                            <p>Nom: {{booking.bookingFormClient$1.name$1}} Prenom: {{booking.bookingFormClient$1.firstName$1}}</p>
                            <p><i class="fa fa-phone"></i> {{booking.bookingFormClient$1.phoneNumber$1}}</p>
                            <p>Adresse: {{booking.bookingFormClient$1.address$1}}</p>
                            <p><i class="fa fa-envelope"></i> {{booking.bookingFormClient$1.email$1.split("--.,")[0]}}</p>
                            <p><i>Message: </i> {{booking.bookingFormClient$1.email$1.split("--.,")[1]}}</p>
                            <h4>Details</h4>
                            <span data-ng-repeat="detail in booking.details$1">
                                <p>Nombre de
                                {{PriceName = (descentePriceName = (descentePrice = (descentes | filter: {'id' :  booking.descentId$1})[0].prices) |
                                    filter: {'id': detail.priceId$1})[0].name[0].presentation}}
                                {{PriceGeneralName = (prices | filter : {'id': detail.priceId$1})[0].name[0].presentation}}
                                    : {{detail.number$1}}
                                    <br>
                                    <b>Sous-total:
                                        <span>
                                            {{controller.computePrice(booking.descentId$1, [detail])}} €
                                        </span>
                                    </b>
                                </p>
                            </span>
                            <p><b>Total: {{total = (controller.computePrice(booking.descentId$1, booking.details$1))}} €</b></p>
                            <b data-ng-show="booking.isGroup$1">
                                reduction groupe :
                                {{reduction = (
                                (controller.computePrice(booking.descentId$1, booking.details$1)*
                                (descentes | filter: {'id' :  booking.descentId$1})[0].groupReduction) / 100)}} €
                            </b><br/>
                            <b data-ng-show="booking.isGroup$1">
                                Total après remise :
                                {{total - reduction}} €
                            </b>
                        </span>
                    </span>
                    <md-button ng-show="limit < bookings.length" ng-click="limit = limit+10">voir plus</md-button>
                </div>
                <div class="column large-12 paddingBottom50 marginBottom30"></div>
            </md-content>
        </md-content>
    </section>

}
