@(message: String)

@main("Cèze canoës") {

  <md-toolbar class="top-bar ng-hide absolute" style="z-index: 99999;">
    <div class="md-toolbar-tools" >
      <md-button aria-label="menu" class="md-fab md-primary md-mini" ng-click="directive.toggleLeft()" hide-gt-md>
       <md-icon md-svg-src="assets/images/menu.svg"></md-icon>
      </md-button>
      <top-bar-content class="width100p float-left" hide-sm hide-md></top-bar-content>
      <lang class="float-right" hide-gt-md></lang>
    </div>
  </md-toolbar>
  <md-sidenav class="md-sidenav-left md-whiteframe-z2" style="z-index: 99999" ng-click="directive.toggleLeft()" md-component-id="left">
      <top-bar-content></top-bar-content>
  </md-sidenav>
  <object data="assets/images/title.svg"
  class="column large-3 medium-6 animated bounceInLeft absolute left0"
  id="title"
  style="z-index: 9999; animation-delay: 0.5s"></object>
  <md-content class="height100p column large-12 padding0" id="mainContent" ng-controller="mainController"
  style="overflow-x: hidden; background: transparent">
    <div class="width100p float-left" style="height: 100px; background: #2FB7C7;" hide-sm hide-md>
      <section id="wave">
        @*<div class="wave-left"></div>*@
        @*<div class="wave-right"></div>*@
      </section>
      <lang class="float-right marginTop20"></lang>
      <h3 class="float-right relative" style="z-index: 9999;
      padding: 15px; color: #014048">
        <b>04 66 82 37 88</b><br/>
        <b>06 88 69 74 09</b>
      </h3>
      <i class="fa fa-phone height100p float-right relative marginTop20" style="font-size: 40px;
      line-height: 75px; color: #014048"></i>
    </div>
    <slider images="{{images}}" class="width100p"></slider>
    <md-toolbar ng-if="true" id="middleBar" class="transparent" style="top: -32px; z-index: 9999;" hide-md hide-sm>
      <div class="md-toolbar-tools">
        <top-bar-content class="width100p"></top-bar-content>
      </div>
    </md-toolbar>
    <div data-ng-view="" class="column large-12"></div>
    <div class="column large-12 paddingBottom50"></div>
    <div class="column large-12 padding20 footer">
      <div class="column">
        <div id="TA_excellent296" class="TA_excellent">
          <ul id="cci0RDGoFX" class="TA_links acUYAWy">
            <li id="zGlDuwlU" class="8Qo6RuoEk">
              <a target="_blank" href="https://www.tripadvisor.fr/"><img src="https://static.tacdn.com/img2/widget/tripadvisor_logo_115x18.gif" alt="TripAdvisor" class="widEXCIMG" id="CDSWIDEXCLOGO"/></a>
            </li>
          </ul>
        </div>
        <script src="https://www.jscache.com/wejs?wtype=excellent&amp;uniq=296&amp;locationId=4570753&amp;lang=fr&amp;display_version=2"></script>
      </div>
      <b class="column text-center">© by Cèze Canoës. Société SARL au capital de 10000 €
        <a class="fa fa-facebook padding10" href="https://www.facebook.com/pages/Ceze-Canoes/439659002843897?fref=ts" target="_blank"></a>
        <br/>
        <i class="fa fa-phone"></i>
        <b>04 66 82 37 88</b>
      </b>
    </div>
  </md-content>
}
