@import "../componentsSettings/foundation";
@import "../../../bower_components/foundation/scss/normalize";
@import "../../../client/src/main/scala/Room/room";
@import "../../../client/src/main/scala/Slider/slider";
@import "../../../client/src/main/scala/Home/home";
@import "../../../client/src/main/scala/Descentes/descente";

body, html {
  background: #B4D5B8 none repeat scroll;
  background-size: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.tooltip-custom {
  display: none;
  z-index: 99999;
  animation: fadeIn 1s ;
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  position: absolute;
  font-weight: bold;
  top: 65px;
  margin-left: -20px;
  font-size: 13px;
  left: auto;
  right: auto;
  background: rgba(3, 54, 73, 0.75);
  border-radius: 5px;
  padding: 5px;
  color: white;}
.tooltip-trigger:hover >.tooltip-custom {
  display: block;
}


.slider {
  background: #E8DDCB;
  text-align: center;
}

.chevron::before {
  vertical-align: middle;
  border-style: solid;
  border-color: #031634;
  border-width: 0.15em 0.15em 0 0;
  content: '';
  display: inline-block;
  height: 4.5em;
  left: 0.20em;
  position: relative;
  top: 0.20em;
  transform: rotate(-45deg);
  width: 4.5em;
}
.imageSlider {
  max-height: 100%;
  max-width: 100%;
}
.chevron.right:before {
  left: -1.9em;
  transform: rotate(45deg);
}

.chevron.bottom:before {
  top: 0;
  transform: rotate(135deg);
}

.chevron.left:before {
  left: 0.95em;
  transform: rotate(-135deg);
}

@media only screen and (max-width: 750px) {
  .tooltip-trigger:hover >.tooltip-custom {
    display: none;
  }
  .imageSlider {
    vertical-align: top!important;
  }
}