.homeArticleContent {
  background-color: #543800;
}
.homeArticleContent h2 {
  color: #FA0;
}
.homeArticleContent h3 {
  color: #FA0;
  font-family: americantypwrteritcw01--731025,americantypwrteritcw02--737091,serif;
  font-size: 18px;
  font-style: italic;
}
.homeArticleContent p {
  font: 14px/1.4em Arial,"ｍｓ ｐゴシック","ms pgothic","돋움",dotum,helvetica,sans-serif;
  color: #FFF;
  font-size: 18px;
}

.homeArticleMedia {
  background-image: url("/assets/images/border.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  overflow: hidden;
  padding: 5px;
  position: relative;
  border-bottom: 0px solid black;
  border-image: url("/assets/images/borderBottom.png");
  border-image-width: auto;
  border-image-outset: 0;
  border-image-slice: 473;
}
.bigger-right {
  height: 120%;
  //margin-top: -2%;
  left: -15px;
  z-index: 9999;
}
.bigger-left {
  height: 120%;
  //margin-top: -2%;
  right: -15px;
  z-index: 9999;
}
.smaller-left {
  margin-top: 1.5%;
}
.yellowThing {
  background: #FFCB05;
  font: italic 40px/1.4em Anton,sans-serif;
  word-wrap: break-word;
  font-weight: bold;
  font-synthesis: weight style;
  font-family: Anton, sans-serif;
  line-height: 1em;
  padding: 20px;
  letter-spacing: -1px;
  font-size: 28px;
}

.yellowThing-bottom {
  margin-top: -10px;
  z-index: 99999;
}

top-bar-content > * > .md-button {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #3B8686 !important;
  transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
  box-shadow: 0 1px 4px #79BD9A;
  cursor: pointer !important;
  color: #E5EEC1!important;
  font: normal normal normal 20px/1.4em arial, 'ｍｓ ｐゴシック', 'ms pgothic', '돋움', dotum, helvetica, sans-serif;
  line-height: 43px
}

top-bar-content > * > .md-button:hover, top-bar-content > * > .md-button.current {
            background-color: #E5EEC1!important;
            transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
            color: #3B8686!important;
          }
@media (max-width: 600px) {
  .bigger-right {
    height: 100%;
    //margin-top: -2%;
    left: 0;
    z-index: 9999;
  }
  .yellowThing-bottom {
    margin-top: 0px;
  }
  .bigger-left {
    height: 100%;
    //margin-top: -2%;
    right: 0;
    z-index: 9999;
  }
  .smaller-left {
    margin-top: 0;
  }
}