<div>
    <div class="float-left width100p relative">
        <div class="md-whiteframe-z5 descenteTitle column large-10">
            "{{name = (descente.name | filter: {'lang': controller.lang})[0].presentation}}"
        </div>
        <slider style="box-shadow: 0px 3px 3px 2px rgba(0, 0, 0, 0.5);"
                ng-click="fullSlider = true; $parent.index = 0"
            images="{{descente.images}}" class="width100p md-whiteframe-z4 zIndex2"></slider>
        </slider>
    </div>
    <div class="width100p float-left homeArticleContent padding10 md-whiteframe-z1" style="top:-3px;">
        <h2>{{tour = (descente.tour | filter: {'lang': controller.lang})[0].presentation}}:
            {{distance = (descente.distance | filter: {'lang': controller.lang})[0].presentation}}</h2>
        <h3>{{time = (descente.time | filter: {'lang': controller.lang})[0].presentation}}</h3>
        <span data-ng-bind-html="presentation = (descente.presentation | filter: {'lang': controller.lang})[0].presentation"></span>
        <b class="column large-6 descentePrices float-left"
           ng-class="{'smallerPrice': !$first}"
           data-ng-repeat="price in descente.prices">{{price.price}}€/ {{name = (price.name | filter: {'lang': controller.lang})[0].presentation}}</b>
        <md-button class="md-raised md-primary md-hue-1 float-right" href="#/booking/{{descente.id}}">
            <span data-ng-show="controller.lang == 'Fr'">Réserver</span>
            <span data-ng-show="controller.lang == 'En'">Book</span>
        </md-button>
    </div>
</div>
<div ng-if="fullSlider" class="height100p width100p float-left absolute left0 right0" style="z-index: 999999" full-slider="{{descente.images.length - 1}}">
    <span size>
        <i class="fa fa-times float-right absolute right0 padding10 zIndex6" data-ng-click="$parent.fullSlider = false"></i>
        <div class="width100p float-left slider" style="height: {{$parent.$parent.directive.height}}px; line-height: {{$parent.$parent.directive.height}}px">
            <div class="column medium-1 height100p " style="line-height: inherit"
                 ng-click="directive.prevIndex()" hide-sm>
                <i class="chevron left float-right height100p"></i>
            </div>
            <div ng-repeat="image in descente.images"
                 style="line-height: inherit; vertical-align: middle"
                 class="height100p column medium-10 padding0 text-center"
                 ng-show="directive.index == $index"
                 md-swipe-right="directive.prevIndex()"
                 md-swipe-left="directive.nextIndex()">
                <img ng-src="{{image}}"
                     class="animated fadeIn imageSlider"/>
            </div>
            <div class=" column small-1 height100p" style="line-height: {{$parent.$parent.directive.height}}px" ng-click="directive.nextIndex()" hide-sm>
                <i class="chevron right float-left"></i>
            </div>
        </div>
    </span>
    <div hide-gt-sm class="paddingBottom20 column"></div>
</div>