<div style="white-space: nowrap">
    <md-button class="md-fab md-primary top0"
               style="font-size: 25px;line-height: 25px;"
           ng-class="{'md-hue-1': directive.currentLang == 'En'}"
           ng-click="directive.setNewLang('En')"><i class="flag-icon flag-icon-gb"></i></md-button>

<md-button class="md-fab md-primary top0"
           style="font-size: 25px;line-height: 25px;"
           ng-class="{'md-hue-1': directive.currentLang == 'Fr'}"
           ng-click="directive.setNewLang('Fr')">
    <i class="flag-icon flag-icon-fr"></i></md-button>
</md-button></div>