<ul data-ng-controller="partnersController" class=" column large-12 margin0">
    <div class="md-whiteframe-z1 float-left yellowThing yellowThing-bottom column medium-10 marginTop10 large-4"
         style="min-width: 560px;" hide-sm hide-md>
        <span data-ng-show="controller.lang == 'Fr'">Partenaires</span>
        <span data-ng-show="controller.lang == 'En'">Partners</span>
    </div>
    <div class="md-whiteframe-z1 float-left yellowThing column medium-10 marginTop0 large-4" hide-gt-md>
        <span data-ng-show="controller.lang == 'Fr'">Partenaires</span>
        <span data-ng-show="controller.lang == 'En'">Partners</span>
    </div>
    <div class="paddingTop50">
        <partner data-ng-repeat="partner in controller.partners$2 | orderBy: 'content[0].presentation'"
                 style="padding: 10px 0px 10px 0px;"
                 class="column large-12" ng-if="$index== 0"></partner>
        <div class="column large-6 padding0">
        <partner data-ng-repeat="partner in controller.partners$2 | orderBy: 'content[0].presentation'"
                 style="padding: 10px 0px 10px 0px;"
                 class="column large-12" ng-if="$index%2 == 1 && $index != 0"></partner>
        </div>
        <div class="column large-6 padding0">
        <partner data-ng-repeat="partner in controller.partners$2 | orderBy: 'content[0].presentation'"
                 style="padding: 10px 0px 10px 0px;"
                 class="column large-12" ng-if="$index%2 == 0 && $index != 0"></partner>
        </div>
    </div>
</ul>