<form class="column large-12">
    <span data-ng-show="controller.lang == 'Fr'"><h1 class="textColorWhite">Reservez votre descente</h1></span>
    <span data-ng-show="controller.lang == 'En'"><h1 class="textColorWhite">Book your trip</h1></span>
    <h1 class="textColorWhite">{{nameDescente = (descente.name | filter: {'lang': controller.lang})[0].presentation}}</h1>
    <span data-ng-bind-html="presentation = (descente.presentation | filter: {'lang': controller.lang})[0].presentation"></span>
    <h3>Informations Générales</h3>
    <div class="column">
        <md-datepicker ng-model="booking.date" class="float-left" style="background: transparent" md-placeholder="date"
                       md-min-date="controller.minDate" required>
        </md-datepicker>
    </div>
    <md-input-container class="column ">
        <label class="textColorWhite" data-ng-show="controller.lang == 'Fr'"><b>Heure de départ: </b></label>
        <label  class="textColorWhite" data-ng-show="controller.lang == 'En'"><b>Start time: </b></label>
        <input type="time" ng-model="booking.startTime" required/>
    </md-input-container>
    <md-input-container class="column">
        <label class="textColorWhite"  data-ng-show="controller.lang == 'Fr'"><b>Nom: </b></label></label>
        <label  class="textColorWhite" data-ng-show="controller.lang == 'En'"><b>Name:</b></label></label>
        <input type="text" ng-model="booking.name" required/>
    </md-input-container>
    <md-input-container class="column">
        <label  class="textColorWhite" data-ng-show="controller.lang == 'Fr'"><b>Prénom:</b></label></label>
        <label  class="textColorWhite" data-ng-show="controller.lang == 'En'"><b>First name:</b></label>
        <input type="text" ng-model="booking.firstName" required/>
    </md-input-container>
    <md-input-container class="column">
        <label  class="textColorWhite" data-ng-show="controller.lang == 'Fr'"><b>Adresse:</b></label></label>
        <label  class="textColorWhite" data-ng-show="controller.lang == 'En'"><b>Address:</b></label></label>
        <input type="text" ng-model="booking.address" required/>
    </md-input-container>
    <md-input-container class="column">
        <label  class="textColorWhite" data-ng-show="controller.lang == 'Fr'"><b>Telephone:</b></label>
        <label  class="textColorWhite" data-ng-show="controller.lang == 'En'"><b>Phone number:</b></label>
        <input type="text" ng-model="booking.phoneNumber" required/>
    </md-input-container>
    <md-input-container class="column">
        <label class="textColorWhite"><b>Email:</b></label>
        <input type="email" ng-model="booking.email" required/>
    </md-input-container>
    <h3>Choix des embarcations</h3>
    <div data-ng-repeat="price in descente.prices" class="column large-4 float-left" ng-if="price.isBookable">
        <md-input-container class="column large-12">
            <label class="textColorWhite" ><b>nombre de: {{name = (price.name | filter: {'lang': controller.lang})[0].presentation}} ({{price.price}} €)</b></label>
            <input type="number" min="0" ng-model="number" ng-change="computeTotalPrice(price, number)">
            <div data-ng-show="number">Sous-total: {{number*price.price}} €</div>
        </md-input-container>
    </div>
    <div data-ng-repeat="price in tariffs" class="column large-4 float-left" ng-if="price.isBookable">
        <md-input-container class="column large-12" ng-if="!price.isSupplement">
            <label class="textColorWhite" > <b>nombre de: {{name = (price.name | filter: {'lang': controller.lang})[0].presentation}} ({{price.price}} €)</b></label>
            <input type="number" min="0"  ng-model="number" ng-change="computeTotalPrice(price, number)">
            <div data-ng-show="number">Sous-total: {{number*price.price}} €</div>
        </md-input-container>
        <md-input-container class="column large-12" ng-if="price.isSupplement">
            <label class="textColorWhite" > <b>nombre de: {{name = (price.name | filter: {'lang': controller.lang})[0].presentation}}
                ({{price.price + descente.prices[0].price}} €)</b></label>
            <input type="number"  min="0" ng-model="number" ng-change="computeTotalPrice(price, number)">
            <div data-ng-show="number">Sous-total: {{number*price.price + number*descente.prices[0].price}} €</div>
        </md-input-container>
    </div>
    <div class="column large-12" ><b data-ng-show="total > 0">Total: {{total}} €</b></div>
    <md-button ng-click="controller.sendBooking(booking)" ng-disabled="!(total > 0)" class="md-primary md-hue-1 md-raised float-left">Valider</md-button>
    <div class="column padding50"></div>
</form>