<form>
    <span class="float-left width100p">Position actuelle:
        {{article.content[0].presentation.toString()[article.content[0].presentation.indexOf('?') -1]}}</span>
    <md-input-container>
        <label>Position</label>
        <input ng-model="position"
               ng-change="article.content[0].presentation = position + '?' +
               article.content[0].presentation.toString().substring(article.content[0].presentation.indexOf('?') +1); controller.setNeedToSaveToTrue()">
    </md-input-container>
    <div data-ng-repeat="content in article.content | filter: {lang: $root.lang}"
          class="column large-12 md-whiteframe-z1"
          ng-change="controller.setNeedToSaveToTrue()"
          ng-model="content.presentation"
         text-angular="text-angular"
         ta-disabled='disabled'
         ng-init="content.presentation = content.presentation.toString()"></div>

    <md-input-container class="width100p">
        <label>Média</label>
        <input ng-model="article.media" />
    </md-input-container>
    <span class="md-primary md-fab md-button zIndex1" data-ng-click="controller.setNeedToSaveToTrue()">
        <i class="fa fa-download"></i>
        <input type="file"
               app-filereader="article.media"
               class="absolute left0 height100p" style="opacity: 0"/>
    </span> Modifier l'image {{article.media}}

    <md-input-container class="width100p">
        <label>Informations </label>
        <input  ng-change="controller.setNeedToSaveToTrue()"
                ng-init="yellowThing.presentation = yellowThing.presentation.toString()"
                ng-model="yellowThing.presentation"
                data-ng-repeat="yellowThing in article.yellowThing | filter: {lang: $root.lang}"/>
    </md-input-container>
</form>