<div>
    <md-list>
        <md-checkbox ng-model="descente.isVisible" class="md-primary" aria-label="isVisible" ng-change="controller.setNeedToSaveToTrue()">
            isVisible : {{descente.isVisible}}
        </md-checkbox>
        <md-subheader>Description</md-subheader>
        <md-list-item>
            <md-input-container class="column large-12" data-ng-repeat="versionedName in descente.name | filter: {'lang': $root.lang}">
                <label>name</label>
                <input ng-model="versionedName.presentation" ng-change="controller.setNeedToSaveToTrue()"/>
            </md-input-container>
        </md-list-item>
        <md-subheader>Présentation</md-subheader>
        <md-list-item>
            <div data-ng-repeat="presentation in descente.presentations | filter: {lang: $root.lang}"
                 text-angular="text-angular"
                 ta-disabled='disabled'
                 name="presentation"
                  class="column large-12"
                  ng-change="controller.setNeedToSaveToTrue()"
                  ng-model="presentation.presentation"></div>
        </md-list-item>
        <md-list-item>
            <md-input-container class="column large-12" data-ng-repeat="versionedTour in descente.tour | filter: {lang: $root.lang}">
                <label>tour</label>
                <input ng-model="versionedTour.presentation"  ng-change="controller.setNeedToSaveToTrue()"/>
            </md-input-container>
        </md-list-item>
        <md-list-item>
            <md-input-container class="column large-12" data-ng-repeat="versionedDistance in descente.distance | filter: {lang: $root.lang}">
                <label>distance</label>
                <input ng-model="versionedDistance.presentation"  ng-change="controller.setNeedToSaveToTrue()"/>
            </md-input-container>
        </md-list-item>
        <md-list-item>
            <md-input-container class="column large-12" data-ng-repeat="versionedTime in descente.time | filter: {lang: $root.lang}">
                <label>temps</label>
                <input ng-model="versionedTime.presentation"  ng-change="controller.setNeedToSaveToTrue()"/>
            </md-input-container>
        </md-list-item>
        <md-devider></md-devider>
        <md-subheader>Images</md-subheader>
        <div class="column">
           <span data-ng-repeat="image in descente.images" class="column medium-6 float-left">
              <!-- <smart-crop
                       image="{{image}}" class="width100p float-left relative"
                       style="overflow: hidden" width="100%" height="0.4w">
               </smart-crop>-->
               <div class="float-left width100p" style="overflow: hidden" height="0.4">
                   <img class="width100p" src="{{image}}" style="margin-top: {{topImage}}%">
               </div>
                <input type="number"
                       ng-init="topImage = image.split('?')[1]"
                       ng-model="topImage"
                       ng-blur="descente.images[$index] = image"
                       ng-change="imageChanged = true;
                       image = image.split('?')[0] + '?' + topImage; controller.setNeedToSaveToTrue()">
               <md-button class="md-primary md-raised"
                          ng-show="imageChanged"
                          ng-click="descente.images[$index] = image"
                       >Valider les modifications de l'image</md-button>
                <span class="md-primary md-fab md-button zIndex1" data-ng-click="controller.setNeedToSaveToTrue()">
                    <i class="fa fa-download"></i>
                    <input type="file"
                           app-filereader="$parent.$parent.descente.images[$index]"
                           class="absolute left0 height100p" style="opacity: 0"/>
                </span> Modifier l'image {{image}}
                <span class="md-primary md-fab md-button zIndex1" data-ng-click="descente.images.splice($index, 1); controller.setNeedToSaveToTrue()">
                    <i class="fa fa-trash"></i>
                </span>
           </span>
        </div>
        <span class="md-primary md-fab md-button marginLeft40 zIndex1">
            <i class="fa fa-download"></i>
            <input type="file"
                   app-filereader="$parent.newImage"
                   class="absolute left0 height100p" style="opacity: 0"/>
        </span> Ajouter une image
        <md-devider></md-devider>
        <md-subheader>Tarifs</md-subheader>
        <md-input-container>
            <label>Reduction de groupe (%)</label>
            <input type="number" step="0.1" ng-model="descente.groupReduction" ng-change="controller.setNeedToSaveToTrue()" />
        </md-input-container>
        <div class="column large-12 padding-0">
            <div ng-repeat="newPrice in descente.prices" class="column large-6 float-left zIndex1 md-whiteframe-z1">
                <i ng-if="$index == 0">Tarif de référence pour les suppléments</i>
                <span class="float-right md-fab md-warn md-mini md-button" data-ng-click="descente.prices.splice($index, 1); controller.setNeedToSaveToTrue();">
                    <i class="fa fa-trash"></i>
                </span>
                <form class="column marginBottom10 tariff-form" ng-submit="controller.setNeedToSaveToTrue();">
                </form>
                <md-devider></md-devider>
            </div>
        </div>
        <md-subheader class="width100p float-left">Ajouter un tarifs</md-subheader>
        <div class="column large-12 zIndex1" >
            <span class="md-primary md-fab md-button zIndex1 marginLeft20"
                  data-ng-click="addPrice = !addPrice;
                  newPrice={name: controller.emptyVersionedStringArray(),
                  isBookable: true, isSupplement: false, medias: []} ">
                <i class="fa" ng-class="{'fa-plus': !addPrice, 'fa-times': addPrice}"></i>
            </span>
            <span data-ng-show="!addPrice">Ajouter un tarif</span>
            <form data-ng-show="addPrice" class="column md-whiteframe-z1 marginBottom10 tariff-form"
                  ng-submit="newPrice.id = controller.stringUuid(); descente.prices.push(newPrice); controller.setNeedToSaveToTrue(); $parent.addPrice = false">
            </form>
            <md-devider></md-devider>
        </div>
        <div ng-include="'assets/templates/Admin/tariffsForm.html'"></div>
    </md-list>
</div>