<form>
    <div data-ng-repeat="content in occasion.content | filter: {lang: $root.lang}"
         text-angular="text-angular"
         ta-disabled='disabled'
         ng-init="content.presentation = content.presentation.toString()"
         class="column large-12 md-whiteframe-z1"
         ng-change="controller.setNeedToSaveToTrue()"
         ng-model="content.presentation"></div>

    <div class="column">
       <span data-ng-repeat="image in occasion.images" class="column medium-6 float-left">
           <div class="float-left width100p" style="overflow: hidden" height="0.4">
               <img class="width100p" src="{{image}}" style="margin-top: {{topImage}}%">
           </div>
           <input type="number"
                  ng-init="topImage = image.split('?')[1]"
                  ng-model="topImage"
                  ng-blur="occasion.images[$index] = image"
                  ng-change="image = image.split('?')[0] + '?' + topImage; controller.setNeedToSaveToTrue()">
            <span class="md-primary md-fab md-button zIndex1" data-ng-click="controller.setNeedToSaveToTrue()">
                <i class="fa fa-download"></i>
                <input type="file"
                       app-filereader="$parent.$parent.occasion.images[$index]"
                       class="absolute left0 height100p" style="opacity: 0"/>
            </span> Modifier l'image {{image}}
            <span class="md-primary md-fab md-button zIndex1" data-ng-click="descente.images.splice($index, 1); controller.setNeedToSaveToTrue()">
                <i class="fa fa-trash"></i>
            </span>
       </span>
    </div>
    <span class="md-primary md-fab md-button zIndex1" data-ng-click="controller.setNeedToSaveToTrue()">
        <i class="fa fa-download"></i>
        <input type="file"
               app-filereader="newMedia"
               class="absolute left0 height100p" style="opacity: 0"/>
    </span> Ajouter une image
    <input data-ng-if="newMedia"  class="ng-hide"
           ng-init="occasion.images.push(newMedia); $parent.newMedia = false; " />
</form>