<p>
    <md-input-container class="column large-12" data-ng-repeat="versionedName in newPrice.name | filter: {lang: $root.lang}">
        <label>Nom</label>
        <input ng-model="versionedName.presentation" ng-change="$parent.changed = true"/>
    </md-input-container>
    <md-input-container class="column large-12">
        <label>Montant</label>
        <input ng-model="newPrice.price" type="number" ng-change="changed = true" required/>
    </md-input-container>
</p>
<p>
    <md-checkbox
            class="column large-12"
            ng-model="newPrice.isBookable"
            ng-change="changed = true"
            aria-label="newPrice isBookable">
        <span ng-if="newPrice.isBookable">Ce tarif est reservable sur ce site web</span>
        <span ng-if="!newPrice.isBookable">Ce tarif n'est pas reservable sur ce site web</span>
    </md-checkbox>
</p>
<p>
    <md-checkbox
            class="column large-12 float-left"
            ng-model="newPrice.isSupplement"
            ng-change="changed = true"
            aria-label="newPrice isSupplement">
        <span ng-if="newPrice.isSupplement">Ce tarif est un supplément</span>
        <span ng-if="!newPrice.isSupplement">Ce tarif n'est pas un supplément</span>
    </md-checkbox>
    <i ng-if="newPrice.isSupplement && formTemplate.indexOf('descenteForm.html') > -1">
        Ce tarrif est un supplément, il revient à {{newPrice.price + descente.prices[0].price}} € sur cette descente
    </i>
</p>
<p>
    <span class="tooltip-trigger float-left relative" data-ng-show="newPrice.price && changed">
        <md-button class="md-primary md-fab  zIndex1"
              type="submit"
              data-ng-click="
               newMedia = false;
               showImages = false;
               changed = false;
               addPrice = false">
            <i class="fa fa-check"></i>
        </md-button>
        <i class="tooltip-custom animated ">
            Enregistrer
        </i>
    </span>
    <span class="tooltip-trigger float-left relative" data-ng-show="newPrice.medias.length">
        <span class="md-primary md-fab md-button zIndex1"
              data-ng-click="showImages = !showImages; changed = true">
            <i class="fa" ng-class="{'fa-times': showImages, 'fa-picture-o': !showImages}"></i>
        </span>
        <i class="tooltip-custom animated ">
            <span ng-show="!showImages">Afficher les images</span>
            <span ng-show="showImages">Masquer les images</span>
        </i>
    </span>
    <span class="tooltip-trigger float-left relative">
        <span class="md-primary md-fab md-button zIndex1">
            <i class="fa fa-download"></i>
            <input type="file"
                   app-filereader="newMedia"
                   ng-model="newMedia"
                   class="absolute left0 height100p" style="opacity: 0"/>
        </span>
        <i class="tooltip-custom animated ">
            Ajouter une images
        </i>
    </span>
    <input data-ng-if="newMedia" ng-model="newMedia"  class="ng-hide"
       ng-init="newPrice.medias.push(newMedia); $parent.showImages = true; $parent.newMedia = false; " />
</p>
<tariffs-images ng-if="showImages" class="column padding0" medias="{{$parent.newPrice.medias}}">
</tariffs-images>